*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #F6DCFC;
}

.tudo{
    padding: 1px;
    margin: 100px;
    background-color: #a05757;
    border-radius: 3rem;
    box-shadow: 7px 8px;
}

#calculadora{
    text-align: center;
    margin: 10rem;
    background-color: #c68483;
    padding: 20px;
    margin: 60px;
    border-color: black;
    box-shadow: 7px 6px;
}

#titu{
    color: black;
    background-color: #c68483;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

.numero, .valor{
    color: black;
    margin-top: 10px;
    border-radius: 20px;
    font-size: large;
    text-align: center;
    border-style: solid;
    border-color: #a05757;
}

#btn{
    color: black;
    margin-top: 40px;
    border-radius: 20px;
    font-size: large;
    text-align: center;
    border-style: ridge;
    border-color: #a05757;
    background-color: #c68483;
}

.resultado{
    color: black;
    margin-top: 10px;
    border-radius: 20px;
    font-size: large;
    text-align: center;
    border-color: #a05757;
    background-color: #c68483;
}

.link{
    margin-top: 30px;
    border-radius: 20px;
    font-size: large;
    text-align: center;
    border-color: #a05757;
    background-color: #c68483;
}

.titu{
    margin-top: 10px;
    color: black;
    background-color: #c68483;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    margin-top: 25px;
    width: 300px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

/* Cabeçalho da tabela */
th {
  background-color: #a05757;
  color: black;
  padding: 10px;
}

/* Células da tabela */
td {
  padding: 8px;
  border-bottom: 1px solid black;
}

